@import "../../index.scss";
.tour{
    background: $mainGrey;
    border-radius: 0.8rem;
 
 
    margin: 1rem 0;
    img{
        width: 100%;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        display:block;
    }
}
.img-container{
    position: relative;
}
.close-btn{
    position: absolute;
display: block;
color: $mainGreen;
font-size: 2rem;
top: 1%;
right: 4%;
cursor: pointer;
transition: all 0.3s linear;
opacity: 0;
}
.close-btn:hover{
    opacity:1;
}
.tour-info{
    padding: 1rem 0.5rem;
h3{
  text-transform:  uppercase;
  color: $mainGreen;

}
h4{
    text-transform: capitalize;
    padding:  0.2rem 0rem 0.4rem 0rem;
}
h5{
    text-transform: capitalize; 
    color: $mainGreen;
}
}
